.err {
  color: red;
  font-size: 15px;
  ;
  font-weight: bold;
}

#searchform {
  margin-left: 500px;
}

body {
  background-color: black !important;

}

#coronapic {

  background-image: url('coronagif.webp');
  background-size: 100%;



  background-repeat: no-repeat;
  opacity: 1;
  height: 500px;
}

#coronapic2 {

  background-image: url('coronagif.webp');
  background-size: 100%;



  background-repeat: no-repeat;
  opacity: 1;
  height: 250px;
}

#login {
  background-color: black;
  height: 500px;
}

#thespace {
  height: 50px;
}

#cont {
  width: 500px;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 16px;
  background-color: black;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;

  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: rgb(158, 90, 85);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;

}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;

}

.container_signin {
  width: 500px;
  text-align: center;
}

#submits {
  background-color: rgb(158, 90, 85);
  color: white;
}

#ekuqe:hover {
  color: rgb(158, 90, 85);
}




#roles {

  height: 300px;
}

.button_status {
  border-radius: 4px;
  background-color: rgb(21, 79, 37);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button_status span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_status span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_status:hover span {
  padding-right: 25px;
}

.button_status:hover span:after {
  opacity: 1;
  right: 0;
}

#get_vaccine {
  margin-left: -70px;
}

.container_roles {
  position: relative;
  width: 100%;
}

.image_roles {
  display: block;
  width: 100%;
  height: auto;
}

.overlay_roles {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container_roles:hover .overlay_roles {
  bottom: 0;
  height: 100%;
}

.text_roles {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



#tekstreg {
  text-decoration: none;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(59, 59, 59), rgb(43, 43, 43));
  color: rgb(99, 99, 99);
  text-align: center;
}



.open-button_login {
  background-color: rgb(5, 158, 252);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  border-radius: 10px;
  height: 50px;
  text-align: center;
  width: 150px;
  font-size: 15px;
  margin-left: -75px;
}

/* The popup form - hidden by default */
.form-popup_login {
  display: none;
  position: fixed;
  bottom: 0;
  color: white;

  z-index: 9;
  font-size: 15px;


}

/* Add styles to the form container */
.form-container_login {
  max-width: 500px;
  max-height: 100% !important;

  background-color: black;
}

/* Full-width input fields */
.form-container_login input[type=text],
.form-container_login input[type=password] {
  width: 100%;
  height: 40px;


  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container_login input[type=text]:focus,
.form-container_login input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container_login .btn_login {
  background-color: #04AA6D;
  color: black;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  opacity: 0.8;
  border-radius: 10px;
}

/* Add a red background color to the cancel button */
.form-container_login .cancel_login {
  background-color: rgb(158, 90, 85);
  width: 100%;
  border-radius: 10px;
}

/* Add some hover effects to buttons */
.form-container_login .btn_login:hover,
.open-button_login:hover {
  opacity: 1;
}

#container-qr {
  text-align: center;
  margin: 0;
}

#qr-canvas {
  margin: auto;
  width: calc(100% - 20px);
  max-width: 400px;
}

#btn-scan-qr {
  cursor: pointer;
}

#btn-scan-qr img {
  height: 10em;
  padding: 15px;
  margin: 15px;
  background: white;
}

#qr-result {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  background-color: white;
}

